@media screen and (max-width: 1440px){
    .navbar{
        /* border: 1px solid red; */
        margin: 0 4rem;
        
    }
}

@media screen and (min-width: 2560px){
    .navbar{
        /* border: 1px solid red; */
        margin: 0 25rem;
        
    }
}

@media screen and (max-width: 320px){
    .navbar{
        /* border: 1px solid red; */
        margin: 0 0;
        
    }
}